{
  "ConnectionStrings": {
    //"DefaultConnection": "Server=localhost\\SQLEXPRESS01;Database=erp_kardex;Trusted_Connection=True;Encrypt=False;TrustServerCertificate=True;",
    "DefaultConnection": "Server=127.0.0.1,1434;Database=erp_kardex;User Id=sa;Password=Ynnovacorp123!;Encrypt=True;TrustServerCertificate=True;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
